#submit-button {
    -webkit-font-smoothing: antialiased;
    font-kerning: normal;
    text-size-adjust: 100%;
    -webkit-box-direction: normal;
    box-sizing: inherit;
    touch-action: inherit;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    font-feature-settings: "lnum" on;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    margin-top: 24px;
    padding: 8px 12px;
    border: 0;
    border-radius: 2px;
    background-color: #f3f3f3;
    color: #767676;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    font-family: "Ideal Sans A", "Ideal Sans B", Helvetica, Arial, sans-serif;
}

.filter-option {
    -webkit-font-smoothing: antialiased;
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-box-direction: normal;
    box-sizing: inherit;
    touch-action: inherit;
    margin: 0;
    padding: 0;
    background: 0 0;
    font: inherit;
    vertical-align: baseline;
    outline: 0;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    font-feature-settings: "lnum" on;
    font-size: 13px;
    line-height: 16px;
    position: relative;
    padding-right: 60px;
    padding-left: 0;
    color: #1a1a1a;
    border: 0;
    width: 100%;
    text-align: left;
    background-color: #fff;
    font-family: "Ideal Sans A", "Ideal Sans B", Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 16px;
}
