:root {
    font-family: 'Open Sans', sans-serif;
    --spacing: 20px;
    --color-gray: rgba(0,0,0,.5);
    --color-gray-active: rgba(0,0,0,.6);
}

a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

#artwork-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 80%;
    text-align: center;
}

#artwork-container img {
    width: inherit;
    height: auto;
    align-content: center;
}

#download-container {
    position: absolute;
    bottom: var(--spacing);
    right: var(--spacing);

    display: flex;
    align-items: flex-end;
}

#download-container > * {
    display: block;
}

#download-container #copyright {
    display: flex;
}

#download-container #copyright img {
    height: 36px;
    width: 100px;

    transition-property: opacity;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;

    opacity: 0.5;
}

#download-container #copyright img:hover {
    opacity: 0.6;
}

#download-container #download-link {
    margin-left: calc(var(--spacing) / 2);

    width: 48px;
    height: 48px;

    text-align: center;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;

    background-color: rgba(0,0,0,.5);
}

#download-container #download-link:hover {
    background-color: rgba(0,0,0,.6);
}

#download-container #download-link img {
    top: 24px;
    position: relative;
    margin: -1px auto 0;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#tombstone {
    position: absolute;
    bottom: var(--spacing);
    left: var(--spacing);
}

#tombstone #title {
    margin-bottom: calc(var(--spacing) / 2);
}

#logo {
    position: absolute;
    top: var(--spacing);
    right: var(--spacing);
}

#logo img {
    width: 78px;
    height: 78px;
}
