:root {
    --spacing: 20px;
    --color-gray: rgba(0,0,0,.5);
    --color-gray-active: rgba(0,0,0,.6);
}

a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    height: 100%;
}

#artwork-url {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80%;
    text-align: center;
}

#artwork-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 100%;
    height: 100%;
    text-align: center;
}

#artwork-save-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#download-container {
    position: absolute;
    bottom: var(--spacing);
    right: var(--spacing);

    display: flex;
    align-items: flex-end;
}

#download-container > * {
    display: block;
}

#download-container #download-link {
    margin-left: calc(var(--spacing) / 2);

    width: 48px;
    height: 48px;

    text-align: center;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;

    background-color: rgba(0,0,0,.5);
}

#download-container #download-link:hover {
    background-color: rgba(0,0,0,.6);
}

#download-container #download-link img {
    top: 24px;
    position: relative;
    margin: -1px auto 0;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#tombstone {
    position: absolute;
    bottom: var(--spacing);
    left: var(--spacing);

    /*padding: 20px 80px 20px 20px;*/

    max-width: calc(100% - 120px);

    transition-property: background-color;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;
    /*background-color: rgba(0,0,0,0.5);*/
}

#tombstone:hover {
    /*background-color: rgba(0,0,0,.6);*/
}

#tombstone #title {
    font-family: 'Amiri', serif;
    font-size: 1.2em;
    color: #333;

    /*color: white;*/
    /*text-shadow: 0px 0px 2px black;*/


    /* max-height = line-height * lines */
    line-height: 1.4em;
    max-height: 1.4em;

    margin-bottom: 0.2em;

    max-width: 24em;
    overflow: hidden;
    text-overflow: ellipsis;

    /* https://css-tricks.com/line-clampin/ */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#tombstone #artist {
    color: #767676;
    font-size: 0.8em;
    line-height: 1.6em;

    color: #333;
    /*color: #eee;*/
    /*text-shadow: 0px 0px 2px black;*/
}

#tombstone #title a:hover {
    color: gray;
    text-decoration: underline;
}

#logo {
    position: absolute;
    top: var(--spacing);
    left: var(--spacing);
}

#logo img {
    width: 78px;
    height: 78px;
}

.openseadragon-canvas {
    outline: none
}
