/* Abdur Khan
Last updated 11/19/18
This is the CSS style page for the AIC Google Chrome New Tab Extension */

@font-face {
	font-family: "Ideal Sans";
	src: url("assets/IdealSans-Light-Pro.otf");
}

#artwork {
	position: relative;
	width: 70%;
	align-content: left;
	margin-right: 25%;
	margin-left: 25%;
	margin-top: 5%;
	margin-bottom: 2%
	vertical-align: middle;
}

#download {
	position: absolute;
	display: inline-block;
}

img {
	width: inherit;
	height: auto;
	align-content: center;
}

#salutation {
	font-family: "Ideal Sans", Ideal, sansserif;
	line-height: 80%;
	position: absolute;
	top: 2%;
	left: 1%;
}

#tombstone {
	font-family: "Ideal Sans", Ideal, sansserif;
	line-height: 80%;
	position: absolute;
	bottom: 2%;
	left: 1%;
}

#copyright {
	font-family: "Ideal Sans", Ideal, sansserif;
	position: absolute;
	bottom: 2%;
	right: 1%;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

#logo img {
	width: 5%;
	height: auto;
   	position: absolute;
   	top: 2%;
   	right: 1%;
   	border: 1px solid black;
}


/* Salutation and title font: Sabon, black;
Everything else: Ideal Sans Light, gray #7F7F7F;
Image centered on page
AIC Logo top right, salutation top left, tombstone bottom left, copyright bottom right.
*/

