/* Abdur Khan
Last updated 12/10/18
This is the CSS style page for the AIC Google Chrome New Tab Extension */

#artwork {
	position: absolute;
	width: 80%;
	align-content: left;
	margin-left: 18%;
	margin-top: 0%;
	vertical-align: middle;
}

#download {
	position: absolute;
	margin-left: 85%;
	bottom: 15%;
}

img {
	width: inherit;
	height: auto;
	align-content: center;
}

#tombstone {
	font-family: 'Open Sans', sans-serif;
	line-height: 80%;
	position: absolute;
	bottom: 5%;
	left: 1%;
}

#artist {
	font-family: 'Open Sans', sans-serif;
	line-height: 80%;
	position: absolute;
	bottom: 2%;
	left: 1%;
}

#copyright {
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	bottom: 1%;
	right: 1%;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

#logo img {
	width: 5%;
	height: auto;
   	position: absolute;
   	top: 2%;
   	right: 1%;
   	border: 1px solid black;
}

.big {
	font-size: 20px;
}


/* Salutation and title font: Sabon, black;
Everything else: Ideal Sans Light, gray #7F7F7F;
Image centered on page
AIC Logo top right, salutation top left, tombstone bottom left, copyright bottom right.
*/

